<p class="root" >

<section className='root' id="id_layout_1" >
      <div className='wrapper'>
        <article>
          <div className='title'>
            <h3>ЮГ АВТОТРАНС</h3>
            <span className='separator'></span>
          </div>
          <div className='desc'><p>У нас вы найдете свой автомобиль!</p></div>

        </article>
        {{!-- <iframe 
        src="https://docs.google.com/spreadsheets/d/1UoVzAcW7Onm2gnvn6d7IgJAz-WjUwjo4nIZqpsAdyn4/edit?usp=sharing"
        width="100%"
        height="1000"
        /> --}}
      </div>
    </section>
</p>
{{!-- {{#markdown }}
```$(document).ready(function(){
  $('.slider1').bxSlider({
    slideWidth: 200,
    minSlides: 2,
    maxSlides: 3,
    slideMargin: 10
  });
});
``` --}}